<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Dockular Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css"></link>
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/dashboard.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <div id="container">
        <span id="name">Images</span>
        <div id="info">
            <img id="spinner" src="http://consumer.huawei.com/minisite/kr/p9/images/spinner.gif"/>
        </div>
    </div>
</body>
</html>