<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Images</title>
    <link rel="stylesheet" type="text/css" href="/css/images.css"></link>
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/images.js" />
</head>
<body>
    <div></div>
    <table id="imagetbl">
        <tr>
            <th>Image</th>
            <th>Tag</th>
            <th>Image Id</th>
            <th>Created</th>
            <th>Size</th>
        </tr>
    </table>
</body>
</html>